.clock_today {
    display: block;
    width: 90%;
    height: 90%;
    font-size: 2.8rem;
    text-align: center;
    font-weight: 700;
    background-color: rgba(117, 62, 119, 0.8);
    border-radius: 50%;
    color: rgb(78, 160, 255);
    padding-top: 9%;
}

.clock_now {
    width: 45%;
    height: 20%;
    display: block;
    font-size: 1.5rem;
    background-color: rgb(62, 62, 62);
    color: white;
    padding: 2%;
    border-radius: 4%;
    border: 2px solid aliceblue;
    text-align: center;
    font-weight: 500;
}
