body {
    height: 100vh;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.grid {
    width: 90%;
    height: 90%;
    display: grid;
    grid-template:
        "clock greeting greeting greeting todo todo" 2fr
        "weather greeting greeting greeting todo todo" 1fr
        "weather quote quote quote todo todo" 1fr /1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1%;
}

.clock {
    grid-area: clock;
    background-color: rgb(82, 187, 187);
}

.greeting {
    grid-area: greeting;
    background-color: rgb(203, 126, 233);
}

.todo {
    grid-area: todo;
    background-color: rgb(238, 139, 73);
}

.weather {
    grid-area: weather;
    background-color: burlywood;
}

.quote {
    grid-area: quote;
    background-color: rgb(94, 136, 94);
}
