body {
    height: 100vh;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.grid {
    width: 90%;
    height: 90%;
    display: grid;
    grid-template:
        "clock greeting greeting greeting todo todo" 2fr
        "weather greeting greeting greeting todo todo" 1fr
        "weather quote quote quote todo todo" 1fr /1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1%;
}

.clock {
    grid-area: clock;
    background-color: rgba(82, 187, 187, 0.3);
}

.greeting {
    grid-area: greeting;
    background-color: rgba(203, 126, 233, 0.3);
}

.todo {
    grid-area: todo;
    background-color: rgba(238, 139, 73, 0.3);
}

.weather {
    grid-area: weather;
    background-color: rgba(235, 180, 108, 0.3);
}

.quotes {
    grid-area: quote;
    background-color: rgba(94, 136, 94, 0.3);
}

img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    opacity: 80%;
}
